
<div style="padding-top: 50px"></div>
<div  class="card-footer text-muted text-center" >List Of Appointments</div>
<div >
  <mat-table [dataSource]="dataSource" >

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef >Appointment Id</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef >User Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.user.username}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef >Date</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.date | date: 'yyyy-MM-dd  hh:mm a'}}</mat-cell>
    </ng-container>
    <!--| date: 'YYYY-MM-DD hh:mm'-->


    <ng-container matColumnDef="location">
      <mat-header-cell *matHeaderCellDef >Location</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.location }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef >Description</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.description }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="confirmed">
      <mat-header-cell *matHeaderCellDef >Confirmed?</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.confirmed}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>Action </mat-header-cell>
      <mat-cell *matCellDef="let element" >
        <a [hidden]="element.confirmed" (click)="comfirmAppointment(element.id)" style="cursor: pointer;color: blue" >Confirm</a>
        <p [hidden]="!element.confirmed" >Confirmed</p>

      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
<!--</div>-->






