<form name="newTransferForm" #newTransferForm="ngForm" (ngSubmit)="onSubmit()">

    <div class="example-container" >
      <div class="card-footer text-muted text-center">Transfer To SomeOne</div>
      <mat-form-field>
        <mat-select name="recipientName" [(ngModel)]="someOne.recipientName"
                    placeholder="Please choose the recipient">
          <mat-option *ngFor="let recipient of recipientList" [value]="recipient.name">{{recipient.name}}</mat-option>

        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select name="transferTo" [(ngModel)]="someOne.accountType"
                    placeholder="Please select your account">
          <mat-option value="Primary">PrimaryAccount</mat-option>
          <mat-option value="Savings">SavingsAccount</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input  matInput
                placeholder="Amount $" name="amount"
                [(ngModel)]="someOne.amount">
      </mat-form-field>

      <div fxLayout="column" fxLayoutGap="20px">
  <button mat-raised-button color="primary" type="submit">Transfer</button>

      <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </form>


