@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";

html, body { height: 100%; }
body { margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.img{
  background-image: url('../src/assets/images/original.png');}
.className {
  background-image: url('../src/assets/images/original.png');
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  overflow: auto;
}




.red-snackbar{
  position: absolute !important;
  top: 100px;
  width: 50%;
  background-color: pink;
  color: blue;
}
